In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE
# puede ser necesario o no, dependiendo de su versión de NoteBook
%matplotlib inline

In [3]:
df = pd.read_csv('./datafinal.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  30000 non-null  int64
 1   limit_bal           30000 non-null  float64
 2   sex                 30000 non-null  int64
 3   education           30000 non-null  int64
 4   marriage            30000 non-null  int64
 5   age                 30000 non-null  int64
 6   pay_sep             30000 non-null  int64
 7   pay_ago             30000 non-null  int64
 8   pay_jul             30000 non-null  int64
 9   pay_jun             30000 non-null  int64
 10  pay_may             30000 non-null  int64
 11  pay_apr             30000 non-null  int64
 12  bill_amt_sep        30000 non-null  float64
 13  bill_amt_ago        30000 non-null  float64
 14  bill_amt_jul        30000 non-null  float64
 15  bill_amt_jun        30000 non-null  float64
 16  bill_amt_may        30000 non-null  float64
 17  bill_amt_apr        30000 non-null  float64
 18  pay_amt_sep         30000 non-null  float64
 19  pay_amt_ago         30000 non-null  float64
 20  pay_amt_jul         30000 non-null  float64
 21  pay_amt_jun         30000 non-null  float64
 22  pay_amt_may         30000 non-null  float64
 23  pay_amt_apr         30000 non-null  float64
 24  payment_next_month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [4]:
df.head()

,id,limit_bal,sex,education,marriage,age,pay_sep,pay_ago,pay_jul,pay_jun,...,bill_amt_jun,bill_amt_may,bill_amt_apr,pay_amt_sep,pay_amt_ago,pay_amt_jul,pay_amt_jun,pay_amt_may,pay_amt_apr,payment_next_month
0,1,20000.0,1,2,0,24,2,0,-1,0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,1,2,1,26,0,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,1,2,1,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,1,2,0,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,0,2,0,57,0,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

## Preparación de los datos

In [5]:
# eliminar columna con info poco valiosa
df.drop('id', axis=1, inplace=True)

In [6]:
var_dummies = ['education', 'marriage', 'pay_sep', 'pay_ago', 'pay_jul', 'pay_jun', 'pay_may', 'pay_apr']

for i in var_dummies:
    # convertir a variables dummies
    value_dummies = pd.get_dummies(df[i], prefix=i, drop_first=True)
    df = pd.concat([df.drop(i, axis=1), value_dummies], axis=1)

df.columns

Index(['limit_bal', 'sex', 'age', 'bill_amt_sep', 'bill_amt_ago',
       'bill_amt_jul', 'bill_amt_jun', 'bill_amt_may', 'bill_amt_apr',
       'pay_amt_sep', 'pay_amt_ago', 'pay_amt_jul', 'pay_amt_jun',
       'pay_amt_may', 'pay_amt_apr', 'payment_next_month', 'education_1',
       'education_2', 'education_3', 'education_4', 'marriage_1', 'marriage_2',
       'pay_sep_1', 'pay_sep_2', 'pay_sep_3', 'pay_sep_4', 'pay_sep_5',
       'pay_sep_6', 'pay_sep_7', 'pay_sep_8', 'pay_ago_0', 'pay_ago_1',
       'pay_ago_2', 'pay_ago_3', 'pay_ago_4', 'pay_ago_5', 'pay_ago_6',
       'pay_ago_7', 'pay_ago_8', 'pay_jul_0', 'pay_jul_1', 'pay_jul_2',
       'pay_jul_3', 'pay_jul_4', 'pay_jul_5', 'pay_jul_6', 'pay_jul_7',
       'pay_jul_8', 'pay_jun_1', 'pay_jun_2', 'pay_jun_3', 'pay_jun_4',
       'pay_jun_5', 'pay_jun_6', 'pay_jun_7', 'pay_jun_8', 'pay_may_2',
       'pay_may_3', 'pay_may_4', 'pay_may_5', 'pay_may_6', 'pay_may_7',
       'pay_may_8', 'pay_apr_2', 'pay_apr_3', 'pay_apr_4', 'pay_apr_5',
       'pay_apr_6', 'pay_apr_7', 'pay_apr_8'],
      dtype='object')

## División Train/Test

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X = df.drop('payment_next_month', axis=1).values
y = df['payment_next_month'].values

In [9]:
# dividir en entrenamiento y testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=101)

In [16]:
len(y_train)

24000

## Balancing data

In [21]:
print("Before OverSampling, counts of label '1': {}".format(sum(y_train==1)))
print("Before OverSampling, counts of label '0': {} \n".format(sum(y_train==0)))

sm = SMOTE(random_state=2)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train.ravel())

print('After OverSampling, the shape of train_X: {}'.format(X_train_res.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_res.shape))

print("After OverSampling, counts of label '1': {}".format(sum(y_train_res==1)))
print("After OverSampling, counts of label '0': {}".format(sum(y_train_res==0)))

Before OverSampling, counts of label '1': 5326
Before OverSampling, counts of label '0': 18674

After OverSampling, the shape of train_X: (37348, 69)
After OverSampling, the shape of train_y: (37348,)

After OverSampling, counts of label '1': 18674
After OverSampling, counts of label '0': 18674

## Normalización de los datos

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [24]:
scaler = MinMaxScaler()

In [25]:
X_train = scaler.fit_transform(X_train_res)

In [26]:
X_test = scaler.transform(X_test)

## SVM

###  SVC (Support Vector Classifier)

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

In [ ]:
# Definir los kernels que vamos a probar
kernels = ['rbf', 'linear', 'poly', 'sigmoid']

svc = SVC()
hyperParam = [{'kernel': kernels}]

gsv = GridSearchCV(svc, hyperParam, cv = 5, verbose = 1)

# Entrenar el modelo
best_model = gsv.fit(X_train_res, y_train_res)

# Predecir resultados
svc_pred_mms = best_model.best_estimator_.predict(X_test)

print("Mejor hiperparametro: ", gsv.best_params_['kernel'])
print("Accuracy mas alto: ", best_model.score(X_test, y_test))

Fitting 5 folds for each of 4 candidates, totalling 20 fits

### Evaluacion del modelo

In [ ]:
from sklearn import metrics
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import confusion_matrix

In [ ]:
plot_confusion_matrix(gsv, X_test, y_test)

conf_metr = confusion_matrix(y_test, svc_pred_mms)

print("Matriz de confusion: \n {}".format(conf_metr))
print(metrics.classification_report(y_test, svc_pred_mms))
print("Accuracy: {} \n".format(metrics.accuracy_score(y_test, svc_pred_mms)))
print("Recall/Sensitivity/True Positive Rate: {} \n".format(metrics.recall_score(y_test, svc_pred_mms)))
print("Precision: {} \n".format(metrics.precision_score(y_test, svc_pred_mms)))

In [ ]:
# ROC Curve:
metrics.plot_roc_curve(gsv, X_test, y_test)