In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./datafinalv2.csv')

In [4]:
df.head(17)

,percentage_paid,avg_bill_cl,avg_pay_cl,num_delays,education,marriage,sex,limit_bal,age,bill_change_sep,...,bill_change_jul,bill_change_jun,bill_change_may,pay_change_sep,pay_change_ago,pay_change_jul,pay_change_jun,pay_change_may,cur_delay,payment_next_month
0,0.089434,0.064200,0.005742,2,Undergraduate,Married,Female,"(9999.999, 80000.0]",[20-30),0.040550,...,0.034450,0.000000,0.000000,-0.034450,0.034450,0.000000,0.000000,0.000000,1.0,1
1,0.292791,0.023718,0.006944,2,Undergraduate,Single,Female,"(80000.0, 200000.0]",[20-30),0.007975,...,-0.004917,-0.001525,0.001617,-0.008333,0.000000,0.000000,0.008333,-0.016667,1.0,1
2,0.108388,0.188246,0.020404,0,Undergraduate,Single,Female,"(80000.0, 200000.0]",[30-40),0.169022,...,-0.008578,-0.006856,-0.006678,0.000200,0.005556,0.000000,0.000000,-0.044444,0.0,0
3,0.036259,0.771113,0.027960,0,Undergraduate,Married,Female,"(9999.999, 80000.0]",[30-40),-0.024860,...,0.419540,-0.012900,-0.011760,-0.000380,0.016380,0.002000,0.000620,0.001380,0.0,0
4,0.540054,0.364463,0.196830,0,Undergraduate,Married,Male,"(9999.999, 80000.0]",[50-60),0.058940,...,0.297900,0.035880,0.000300,-0.693620,0.533620,0.020000,0.166220,0.000200,0.0,0
5,0.032640,0.793713,0.025907,0,Graduate,Single,Male,"(9999.999, 80000.0]",[30-40),0.146620,...,0.764280,-0.004500,-0.008100,0.013700,0.023160,-0.006860,0.000000,0.004000,0.0,0
6,0.066343,0.908198,0.060253,0,Graduate,Single,Male,"(200000.0, 1000000.0]",[20-30),-0.088116,...,-0.195292,0.119300,0.018118,0.030000,0.004000,0.035522,0.012978,-0.000040,0.0,0
7,0.355257,0.022477,0.007985,0,Undergraduate,Single,Female,"(80000.0, 200000.0]",[20-30),0.114960,...,0.003800,0.003800,-0.007260,-0.002210,0.006010,-0.005810,-0.011060,0.001450,0.0,0
8,0.103677,0.077633,0.008049,1,High School,Married,Female,"(80000.0, 200000.0]",[20-30),-0.020079,...,-0.000736,0.002986,0.057671,0.023779,-0.003086,-0.004057,0.000000,0.000000,0.0,0
9,0.524871,0.224325,0.117742,0,High School,Single,Male,"(9999.999, 80000.0]",[30-40),0.000000,...,0.000000,-0.650350,-0.045250,0.000000,0.000000,-0.650350,0.594250,0.056100,0.0,0
10,0.187774,0.028723,0.005393,1,High School,Single,Female,"(80000.0, 200000.0]",[30-40),0.006430,...,0.015110,0.003425,-0.009515,0.011470,-0.000190,-0.001250,-0.017190,0.018360,0.0,0
11,0.750354,0.056647,0.042505,1,Graduate,Single,Female,"(200000.0, 1000000.0]",[50-60),-0.036188,...,0.005573,-0.052962,0.033150,0.045585,0.005319,-0.052762,0.085773,-0.014000,0.0,0
12,0.569903,0.010848,0.006183,0,Undergraduate,Single,Female,"(200000.0, 1000000.0]",[40-50),0.008948,...,0.000000,0.000000,0.005762,-0.008730,0.000000,0.000000,0.005762,0.004556,0.0,0
13,0.031593,0.806393,0.025476,4,Undergraduate,Single,Male,"(9999.999, 80000.0]",[30-40),-0.022386,...,-0.015443,0.437786,-0.010814,0.045714,-0.042857,0.000000,0.021429,0.021429,1.0,1
14,0.048181,0.249061,0.012000,0,Graduate,Single,Male,"(200000.0, 1000000.0]",[20-30),0.015308,...,0.015460,0.011284,0.005452,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
15,0.031566,0.654720,0.020667,2,High School,Others,Female,"(9999.999, 80000.0]",[20-30),0.428820,...,-0.013100,-0.015200,-0.013600,-0.030000,0.008000,-0.002000,-0.002000,0.004000,1.0,0
16,0.059815,0.884675,0.052917,4,Graduate,Single,Male,"(9999.999, 80000.0]",[20-30),-0.131700,...,-0.045500,0.021650,-0.059950,0.160000,-0.075000,0.075000,-0.082500,0.082500,0.0,1

In [5]:
df.loc[0]

percentage_paid                  0.089434
avg_bill_cl                        0.0642
avg_pay_cl                       0.005742
num_delays                              2
education                   Undergraduate
marriage                          Married
sex                                Female
limit_bal             (9999.999, 80000.0]
age                               [20-30)
bill_change_sep                   0.04055
bill_change_ago                   0.12065
bill_change_jul                   0.03445
bill_change_jun                       0.0
bill_change_may                       0.0
pay_change_sep                   -0.03445
pay_change_ago                    0.03445
pay_change_jul                        0.0
pay_change_jun                        0.0
pay_change_may                        0.0
cur_delay                             1.0
payment_next_month                      1
Name: 0, dtype: object

In [6]:
df2 = pd.read_csv("UCI_Credit_Card.csv")

In [7]:
df2.loc[0]

ID                                1.0
LIMIT_BAL                     20000.0
SEX                               2.0
EDUCATION                         2.0
MARRIAGE                          1.0
AGE                              24.0
PAY_0                             2.0
PAY_2                             2.0
PAY_3                            -1.0
PAY_4                            -1.0
PAY_5                            -2.0
PAY_6                            -2.0
BILL_AMT1                      3913.0
BILL_AMT2                      3102.0
BILL_AMT3                       689.0
BILL_AMT4                         0.0
BILL_AMT5                         0.0
BILL_AMT6                         0.0
PAY_AMT1                          0.0
PAY_AMT2                        689.0
PAY_AMT3                          0.0
PAY_AMT4                          0.0
PAY_AMT5                          0.0
PAY_AMT6                          0.0
default.payment.next.month        1.0
Name: 0, dtype: float64

In [14]:
#df.info()
df['cur_delay'].value_counts()

0.0    22679
1.0     7321
Name: cur_delay, dtype: int64